<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Multiple Bootstrap Modals with next/prev buttons</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'><link rel="stylesheet" href="./headstyle.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Button trigger modal -->

<div class="btn-group">
<button type="button" class="button" data-toggle="modal" data-target="#myModal1">
  HOME
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title 1</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default btn-next">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="button" data-toggle="modal" data-target="#myModal2">
  DEMO-1
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title 2</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="button" data-toggle="modal" data-target="#myModal3">
  DEMO-2
</button>

<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title 3</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default btn-next">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="button" data-toggle="modal" data-target="#myModal4">
  DEMO-3
</button>

<!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title 4</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default btn-next">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script><script  src="./headscript.js"></script>

</body>
</html>





<!DOCTYPE html>
<html lang="en" >
<head>


  
  <title>CodePen - Restaurant Menu D5 | #30Days30Sites</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<link rel='stylesheet' href='./stylenew.css'><link rel="stylesheet" href="./style.css">
 
</head>
<body>
<style>
.header {
  font-size: 11px;
  background-color:black;
  color:white;
  text-align: center;
  }
  
  
  HTML CSSResult Skip Results Iframe
body {
  background-color: black;
  color:white;
}


.glow {
  font-size: 40px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px xyan, 0 0 60px cyan, 0 0 70px cyan;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px cyan, 0 0 40px cyan, 0 0 50px cyan, 0 0 60px cyan, 0 0 70px cyan, 0 0 80px cyan;
  }
}


Resources1× 0.5× 0.25×Rerun
  
</style>
<div class='glow'>ੴ </div>



<b><div class="header" id="id01">LOADING <br> </div></b>



<!-- partial:index.partial.html -->
<html>
  <head></head>
 
<div class="global-wrapper" ng-app="myApp">




 
    
  <div class="container">
    <div class="row panel panel-primary" ng-controller="homeCtrl">
      <div class="panel-heading">
  
      </div>
      
	 

      <!--     food list   	 -->
      <div class="col-xs-5 panel-body">
        <ul class="list-group">
          <li class="list-group-item"> <h4>HINDUSTAN</h4>
		  
		  





		  
		  
            <input class="form-control" placeholder="Search a area" type="text" ng-model="searchText">
            <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: searchText "></contact>
          </li>
        </ul> 
      </div>
      
	  

	  
      <!--   ng-view below       -->
      <div class="col-xs-7">
        <div class="list-group panel-body">
          <div ng-view></div>
        </div>
      </div>
      
      <!-- footer -->
      <div class="panel-heading">
        <div class="row text-center" id="footer"> <!-- for footer -->
      
    </div> <!-- end footer -->
      </div>
        
    </div>
  </div>

    <!--  html templates used by angular, usually in separate files -->
    <script type="text/ng-template" id="default.html">
      <div class="alert alert-success text-center" ng-class="{hidden : !removed}"> {{removed}}</div>
      



</head>
<body>



</body>
</html>














<style>
.line {
  font-size: 15px;
  color:black;
  text-align: left;
  }
  
  
  
  
</style>
	  


<h1><p style="color:black;"><b><u>MONDAY</b></u></p></h1>
<div class="line">1) CHAKKARBHATA <br> 
2) BILHA <br> 3) SARGAON <br> 4) PATHARIYA<br> 5) MUNGELI<br> 6) TAKHATPUR<br> 7) SAKRI</h1></div> <hr/>

<h1><p style="color:black;"><b><u>TUESDAY</b></u></p></h1>
<div class="line">1)KORBA<br>2)PANTORA<br>3)BALCO<br>4)HARDIBAZAR<br>5)DIPKA<br>6)URGA</h1></div> <hr/>
			
<h1><p style="color:black;"><b><u>WEDNESDAY</b></u></p></h1>
<div class="line">1)PENDRA <br> 2)BELGEHNA</h1></div> <hr/>
			
			<h1><p style="color:black;"><b><u>THUSDAY</b></u></p></h1>
<div class="line">1)KUNDA<br>
2)MOHGAON<br>
3)PANDATARAI<br>
4)PANDARIYA<br>
5)BOADTARA<br>
6)LORMI<br>
7)KHAMI<br>
8)KOTA<br>
9)GANYARI<br>
10)SAKRI</h1></div> <hr/>
	
	
	 <h1><p style="color:black;"><b><u> FRIDAY</b></u></p></h1>
<div class="line">FRIDAY IS REST</h1></div> <hr/>
  
  <h1><p style="color:black;"><b><u> SATURDAY</b></u></p></h1>
<div class="line">1)SARANGARH
2)SARSIWA<br>
3)BHADGAON<br>
4)BHIALIGARH<br>
5)SHIVRINARAYAN<br>
6)KHAROD<br>
7)RAHOD</h1></div> <hr/>
 
 <h1><p style="color:black;"><b><u> SUNDAY</b></u></p></h1>
<div class="line">SUNDAY IS REST</h1></div> <hr/> <br> <br> <br> 
			
			
 <h1><p style="color:black;"><b><u>MONDAY</b></u></p></h1>
<div class="line">1)AKALTARA <br>
2)BALODA <br>
3)KHAMARIYA<br> 
4)SIPAT<br></h1></div> <hr/>

		
	
			
<h1><p style="color:black;"><b><u>TUESDAY	</b></u></p></h1>
<div class="line">1)PAMGARH<br>
 2)HASOD<br>
 3)BIRRA</h1></div> <hr/>
 


<h1><p style="color:black;"><b><u>WEDNESDAY</b></u></p></h1>
	<div class="line">1)CHURRI <br>
	2)KATGHORA <br>
	3)PALI <br> 
	4)BELTARA	 <br>
	5)RATANPUR</h1></div> <hr/>
	
	

			

			
<h1><p style="color:black;"><b><u>THUSDAY</b></u></p></h1>
<div class="line">1)JANJGIR  <br> 
2)CHAMPA  <br> 
3)SHIVNI  <br> 
4)BARADWAR  <br> 
5)SAKTI <br> 
6)SARAGAON</h1></div> <hr/>



		
	
			
<h1><p style="color:black;"><b><u>FRIDAY</b></u></p></h1>
<div class="line">1)MASTURI <br> 
 2)MALHAR <br>
 3)PACHPEDI <br>
 4)LAWAN <br>
 5)KATGI <br> 
 6)KASHDOL</h1></div> <hr/>

 	
			
<h1><p style="color:black;"><b><u>SATURDAY</b></u></p></h1>
<div class="line">1)KAWARDHA <br></h1></div> <hr/>
	

			
<h1><p style="color:black;"><b><u>SUNDAY</b></u></p></h1>
<div class="line">SUNDAY IS REST <br></h1></div> <hr/>
	
			


			
		

	  
	  
	  
    </script>



	  <!-- 	template for displaying a contacts info	 -->
    <script type="text/ng-template" id="contact_info.html">
      
	  <style>


h1 {
  background-color: #000000;
 
   color: #FFFFFF;
   text-align: center;
   border-radius: 15px 50px;
}

h2 {
  
  border: 0px solid white;
  font-size: 25px;
   color: #000000;
   text-align: left;
  
}

</style>

	  <div class="list-group-item1">
        <h2 class="text-left"><b><u>{{currentContact.name}}</u></b></h2> <hr>
       
	   
        <p><b> {{currentContact.customer1}} <br> {{currentContact.toys1}}
		<a ng-href="{{currentContact.url1}}">{{currentContact.amount1}}</a></p> <br> 
        
		<p> {{currentContact.customer2}} <br> {{currentContact.toys2}}
		<a ng-href="{{currentContact.url2}}">{{currentContact.amount2}}</a></p> <br> 
		
		<p> {{currentContact.customer3}} <br> {{currentContact.toys3}}
		<a ng-href="{{currentContact.url3}}">{{currentContact.amount3}}</a></p> <br>
		
		<p> {{currentContact.customer4}} <br> {{currentContact.toys4}}
		<a ng-href="{{currentContact.url4}}">{{currentContact.amount4}}</a></p> <br>
		
		<p> {{currentContact.customer5}} <br> {{currentContact.toys5}}
		<a ng-href="{{currentContact.url5}}">{{currentContact.amount5}}</a></p> <br>
		
		<p> {{currentContact.customer6}} <br> {{currentContact.toys6}}
		<a ng-href="{{currentContact.url6}}">{{currentContact.amount6}}</a></p><br>
		
		<p> {{currentContact.customer7}} <br> {{currentContact.toys7}}
		<a ng-href="{{currentContact.url7}}">{{currentContact.amount7}}</a></p> <br>
		
		<p> {{currentContact.customer8}} <br>
		<a ng-href="{{currentContact.url8}}"> {{currentContact.amount8}}</a></p> <br>
		
		<p> {{currentContact.customer9}} <br>
		<a ng-href="{{currentContact.url9}}">{{currentContact.amount9}}</a></p> <br>
		
		<p> {{currentContact.customer10}} <br>
		<a ng-href="{{currentContact.url10}}">{{currentContact.amount10}}</a></p> <br>
		
		<p> {{currentContact.customer11}} <br>
		<a ng-href="{{currentContact.url11}}">{{currentContact.amount11}}</a></p> <br>
		
		<p> {{currentContact.customer12}} <br>
		<a ng-href="{{currentContact.url11}}">{{currentContact.amount12}}</a></p> <br>
		
		<p> {{currentContact.customer13}} <br>
		<a ng-href="{{currentContact.url13}}">{{currentContact.amount13}}</a></p> <br>
		
		<p> {{currentContact.customer14}} <br>
		<a ng-href="{{currentContact.url14}}">{{currentContact.amount14}}</a></p> <br>
		
		<p> {{currentContact.customer15}} <br>
		<a ng-href="{{currentContact.url15}}">{{currentContact.amount15}}</a></p> <br>
		
		<p> {{currentContact.customer16}} <br>
		<a ng-href="{{currentContact.url16}}">{{currentContact.amount16}}</a></p> <br>
		
		<p> {{currentContact.customer17}} <br>
		<a ng-href="{{currentContact.url17}}">{{currentContact.amount17}}</a></p> <br>
		
		<p> {{currentContact.customer18}} <br>
		<a ng-href="{{currentContact.url18}}">{{currentContact.amount18}}</a></p> <br>
		
		<p> {{currentContact.customer19}} <br>
		<a ng-href="{{currentContact.url19}}">{{currentContact.amount19}}</a></p> <br>
		
		<p> {{currentContact.customer20}} <br>
		<a ng-href="{{currentContact.url20}}">{{currentContact.amount20}}</a></p> </b> <br>
		
      </div>
    </script>



<!--      template used for the ng-repeat in the contact list        -->
    <script type="text/ng-template" id="contact.html">
      <a ng-href="#/contact-info/{{contacts.indexOf(contact)}}">
        {{contact.name}}
      </a>
    </script>
  </div>
    
    </body>
  </html>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js'></script><script  src="./script.js"></script>

</body>
</html>