

#footer a:link{color:pink;}
#footer a:visited{color:tomato;}
#footer a:hover{color:yellowgreen;}


    /* Full height */
    height: 100%; ,
	width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
   
}